@using Kendo.Mvc.UI

@(Html.Kendo().Grid<dynamic>()
        .Name("grid")
        .Columns(columns =>        {

            columns.Bound(c => c).Title("Наименование").Width(120);
            columns.Bound(c => c).Title("Ответственный").Width(120);
            columns.Bound(c => c).Title("Тип компании").Width(120);
            columns.Bound(c => c).Title("<div class='text-center'>Размер <br/>компании</div>").Width(120);
            columns.Bound(c => c).Title("Отрасль").Width(120); ;
            columns.Bound(c => c).Title("<div class='text-center'>Готовность <br/>к продаже</div>").Width(100);
            columns.Bound(c => c).Title("Важность").Width(120); ;
            columns.Bound(c => c).Title("Статус").Width(120); ;
            columns.Bound(c => c).Title("Общий балл").Width(120); ;
            columns.Bound(c => c).Title("Действия").Width(120); ;

        })
        .Filterable()
    .ColumnMenu(c => c.Columns(false))
    .Resizable(resizable => resizable.Columns(true))
    .Reorderable(reorderable => reorderable.Columns(true))
    .Scrollable()
    .Sortable()
    .Pageable(pageable => pageable
            .Refresh(true)
            .PageSizes(true)
            .ButtonCount(5))

        .DataSource(dataSource => dataSource
            .Ajax()
            .Read(read => read.Action("Test", "Home"))
        )
)

